# PostgreSQL
POSTGRES_USER=aml
POSTGRES_PASSWORD=amlpass
POSTGRES_DB=amldb

# Backend
DATABASE_URL=postgresql://aml:amlpass@postgres:5432/amldb

# IBM watsonx.ai
WATSONX_API_KEY=api_key_here
WATSONX_PROJECT_ID=project_id_here
WATSONX_URL=https://ca-tor.ml.cloud.ibm.com
WATSONX_MODEL_ID=ibm/granite-3-3-8b-instruct
